<section>
    <article id="pagination">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 box">
                  {{ $paginator := .paginator }}
                  {{ if gt $paginator.TotalPages 1 }}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {{ if $paginator.HasPrev }}active-buttons{{else}}disabled-buttons{{end}}">
                              <a class="{{if not $paginator.HasPrev}}page-link{{end}} buttons" {{ if $paginator.HasPrev }}href="{{ $paginator.Prev.URL }}"{{end}} tabindex="-1" aria-disabled="true">
                                  <span>{{ i18n "Pagina anterior" }}</span>
                                  <i class="fal fa-chevron-left"></i>
                              </a>
                            </li>
                          {{ range $paginator.Pagers }}
                            <li class="page-item {{ if or ( eq . .First) (eq . .Last) }}pl-15{{end}} {{if eq . $paginator}}active{{end}}"><a class="page-link numbers" href="{{ .URL }}">{{ .PageNumber }}</a></li>
                          {{ end }}
                            <li class="page-item {{ if $paginator.HasNext }}active-buttons{{else}}disabled-buttons{{end}}">
                              <a class="{{ if not $paginator.HasNext }}page-link{{end}} buttons" {{ if $paginator.HasNext }}href="{{ $paginator.Next.URL }}"{{end}}>
                                  <span>{{i18n "Pagina siguiente"}}</span>  
                                  <i class="fal fa-chevron-right"></i>
                              </a>
                            </li>
                        </ul>
                      </nav>
                  {{ end }}
                </div>
            </div>
        </div>
    </article>
</section>