@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/Helvetica-Neue-Bold.ttf') format('truetype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}
/* ===============Custom classes=================== */
.alignLeft {
	float: left;
}
.nav {
	margin-right: 31px;
}
.clearfix {
	overflow: auto;
}
.buscador {
	margin-left: 357px;
	padding-top: 10px;
	height: 53px;
	border-bottom: 1px solid white;
}
.buscador li {
	display: inline-block;
	padding: 0 10px;
	margin: 0 7px;
	float: right;
	height: 25px;
}
.buscador li:first-child {
	margin-right: 0;
	padding-right: 0;
}
.buscador li a {
	height: 100%;
	text-decoration: none;
}
.buscador li a svg {
	height: 100%;
}
.menu > li {
	display: inline-block;
	padding: 10px 15px;
	margin-top: 3px;
	float: right;
}
.menu > li:hover > a {
	font-size: 18px;
	font-weight: 600;
}
/* .menu > li:active > a {
    font-size: 18px;
    font-weight: 600;
    color: #FFCE00;
} */
.menu-active {
	/* font-size: 18px !important;
    font-weight: 600 !important; */
	color: #ffce00 !important;
}
.sub-menu-active {
	display: block !important;
}
/* .menu > li:active .sub-menu-container{
    display: block !important;
} */
.menu > li:first-child {
	padding-right: 0px;
}
.menu > li > a {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 20px solid #f00;
}
.search-container {
	font-family: 'Poppins', sans-serif;
	padding: 93px 180px;
	width: 100%;
	top: 109px;
	left: 0;
	z-index: 999;
	position: absolute;
	height: 685px;
	background-color: #f3f4f6;
	display: none;
}
.search-input-group {
	margin-top: 34px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 29px;
	line-height: 29px;
}
.search-label {
	text-transform: uppercase;
	display: inline-block;
}
.search-input {
	vertical-align: top;
	background-color: white;
	border: 1px solid #154581;
	border-radius: 6px 0 0 6px;
	height: 45px;
	width: 485px;
}
.search-btn {
	display: inline-block;
	height: 45px !important;
	width: 69px;
	background-color: #154581;
	color: white;
	border-radius: 0 6px 6px 0;
	border: 1px solid #154581;
}
.search-btn i {
	display: block;
	margin: 5px auto;
	width: 27px;
	font-size: 27px;
	line-height: 32px;
}
.sub-menu-container {
	font-family: 'Poppins', sans-serif;
	padding: 30px 160px;
	width: 100%;
	top: 109px;
	left: 0;
	z-index: 999;
	position: absolute;
	height: 445px;
	background-color: #f3f4f6;
	display: none;
}
.sub-menu-header {
	text-transform: uppercase;
	font-size: 38px;
	font-weight: 300;
	color: #154581;
	height: 315px;
	float: left;
	margin-right: 20px;
	border-right: 1px solid #154581;
	padding-right: 30px;
	line-height: 71px;
}
.sub-menu-logo {
	margin-top: 10px;
	display: block;
}
.sub-menu {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	padding-top: 5px;
}
.sub-menu > li > a {
	text-decoration: none;
	line-height: 40px;
	padding: 5px 5px 10px 5px;
	color: black;
}
.lang {
	font-family: 'Poppins', sans-serif;
	position: relative;
	color: white;
	margin-top: 5px;
	display: block;
}
.lang i {
	position: absolute;
	top: 2px;
	font-size: 11px;
}
.search-icon {
	font-size: 22px;
	color: white;
	display: block;
	margin-top: 3px;
}
.search-icon:hover i,
.lang:hover {
	font-weight: bold;
}
.lang:active,
.search-icon:active {
	color: #ffce00;
}
.campus {
	height: 23px;
}
.campus a {
	display: block;
}
.campus:hover a {
	color: #ffce00;
	background-color: #154581;
	border: 1px solid #ffce00;
}
.campus:active a {
	background-color: #012d64;
}
.campus a {
	background-color: #ffce00;
	border: 1px solid #154581;
	border-radius: 6px;
	color: #154581;
	font-family: 'Helvetica Neue';
	padding: 4px 10px;
}
.main-carousel .slider,
.footer-carousel .slider {
	position: relative;
}
.main-carousel .slider {
	height: 100vh;
}
.main-carousel .slider::before {
	content: '';
	position: absolute;
	height: 50%;
	width: 100%;
	background: transparent linear-gradient(180deg, black 0%, #54545400 100%) 0% 0% no-repeat padding-box;
}
.main-carousel .slider::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	background: transparent linear-gradient(0deg, black 0%, #54545400 100%) 0% 0% no-repeat padding-box;
}
.main-carousel .slider img {
	position: relative;
	z-index: -1;
}
.slider-title {
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	color: white;
	position: absolute;
	top: 60px;
	left: 87px;
	width: 1107px;
	margin: auto;
}
.main-carousel .owl-nav {
	width: 155px;
	position: absolute;
	bottom: 40px;
	left: 46%;
}
.main-carousel .owl-next {
	margin-left: 37px;
}
.main-carousel .owl-dots {
	position: absolute;
	bottom: 78px;
	left: 45%;
	height: 14px;
	width: 182px;
	border-radius: 7px;
	border: 1.5px solid white;
	display: flex;
	align-items: baseline;
	padding: 1px 1px;
}
.main-carousel .owl-dots .owl-dot {
	opacity: 0;
}
.main-carousel .owl-dots .owl-dot.active {
	opacity: 1;
	transition: opacity 500ms ease;
}
.main-carousel .owl-dots .owl-dot.active span {
	background-color: white;
}
.main-carousel .owl-dots .owl-dot span {
	border-radius: 15px;
	display: inline-block;
	height: 8px;
	width: 59px;
	vertical-align: middle;
	background-color: white;
	transition: opacity 200ms ease;
	border-radius: 15px;
	vertical-align: top;
	margin: 0 !important;
}
.main-carousel.owl-carousel .owl-prev.disabled,
.main-carousel.owl-carousel .owl-next.disabled {
	pointer-events: none;
	opacity: 0.3;
}
.container {
	width: 1107px;
	margin: 100px auto;
}
.section-title {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	padding: 10px 0;
	margin: 0px 0px 60px 5px;
	border-bottom: 1px solid #d9dee3;
	width: 95%;
}
.container .title-icon {
	display: inline-block;
	vertical-align: sub;
	width: 34px;
	height: 30px;
}
.admin-title .title-icon {
	background: transparent url('../imgs/administartion-icon.svg') 0% 0% no-repeat padding-box;
}
.news-title .title-icon {
	background: transparent url('../imgs/noticias.svg') 0% 0% no-repeat padding-box;
}
.events-title .title-icon {
	background: transparent url('../imgs/agenda-icon.svg') 0% 0% no-repeat padding-box;
}
.calls-title .title-icon {
	background: transparent url('../imgs/convocatorias-icon.svg') 0% 0% no-repeat padding-box;
}
.organisms-title .title-icon {
	background: transparent url('../imgs/organismos-icon.svg') 0% 0% no-repeat padding-box;
}
/* ============Administration section=============== --begin--*/
.administration .main-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.svg-container {
	padding: 10px;
	background-color: #154581;
	padding: 28px 0;
	height: 164px;
}
.option {
	text-align: center;
	padding: 14px 15px;
	border-radius: 6px;
	overflow: hidden;
}
.option-container {
	height: 100%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0px rgb(0 0 0 / 20%), 0px 6px 20px 0 rgb(0 0 0 / 19%);
}
.option h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.option h4 a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 15px;
	width: 155px;
	padding: 10px;
	margin: 24px auto;
}
.option:hover .svg-container svg path {
	fill: #154581;
}
.option:hover .svg-container {
	background-color: #d9dee3;
}
.option:hover .option-container {
	border-radius: 0 0 6px 6px;
}
.option:hover h4 {
	background-color: #154581;
	height: 126px;
	border-radius: 0 0 6px 6px;
}
.option:hover h4 a {
	color: white;
	text-decoration: underline;
}
.option:hover {
	padding: 0px;
}
/* ==========Administration section=========== --end-- */
.news {
	margin: 50px 0;
}
.news-container {
	display: grid;
	grid-template-columns: 4fr 7fr;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	position: relative;
	margin: 40px 0;
}
.news-container img {
	border-radius: 12px;
}
.news-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	margin: 20px 0;
}
.news-title:hover a {
	text-decoration: underline;
	color: #154581;
}
.news-title a {
	text-decoration: none;
	color: black;
}
.news-desc {
	line-height: 22px;
}
.news-infos {
	position: absolute;
	bottom: 0px;
	left: 35%;
}
.news-divider {
	width: 537px;
	margin: auto;
	border-top: 1px solid #d9dee3;
}
.see-more {
	text-align: center;
	width: 96%;
}
.see-more a {
	display: inline-block;
	margin: 40px auto;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
	background-color: #154581;
	border-radius: 6px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;
}
.see-more:hover a {
	background-color: #000000;
}
/* ========Events section========== --begin-- */
.events {
	margin: 50px 0;
}
.event-min,
.event-sec-gen,
.event-sec {
	height: 158px;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 4px 8px 0px rgb(0 0 0 / 20%), 0px 6px 20px 0 rgb(0 0 0 / 19%);
	border-radius: 0 0 5px 5px;
}
.event-min:hover .event-desc {
	color: white;
	background-color: #154581;
}
.event-min:hover .event-desc a {
	color: white;
	text-decoration: underline;
}
.event-min:hover .svg-event-container {
	background-image: url(../imgs/event-hover.svg);
	background-color: #f3f4f6;
}
.event-min:hover .event-time {
	color: #154581;
}
.event-min:hover .event-time-container {
	background-color: #f3f4f6;
}
/* Event Sec Generale */
.event-sec-gen:hover .event-desc {
	color: white;
	background-color: #009203;
}
.event-sec-gen:hover .event-desc a {
	color: white;
	text-decoration: underline;
}
.event-sec-gen:hover .svg-event-container {
	background-image: url(../imgs/event-hover.svg);
	background-color: #f3f4f6;
}
.event-sec-gen:hover .event-time {
	color: #154581;
}
.event-sec-gen:hover .event-time-container {
	background-color: #f3f4f6;
}
/* Event Sec */
.event-sec:hover .event-desc {
	color: white;
	background-color: #961a72;
}
.event-sec:hover .event-desc a {
	color: white;
	text-decoration: underline;
}
.event-sec:hover .svg-event-container {
	background-image: url(../imgs/event-hover.svg);
	background-color: #f3f4f6;
}
.event-sec:hover .event-time {
	color: #154581;
}
.event-sec:hover .event-time-container {
	background-color: #f3f4f6;
}
.events-container {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 4fr 8fr;
}
.available-events {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 6fr 6fr;
}
.event-time-container {
	float: left;
	height: 100%;
	width: 95px;
	padding: 30px 0;
	border-radius: 5px 0 0 5px;
}
.event-min .event-time-container {
	background-color: #154581;
}
.event-sec-gen .event-time-container {
	background-color: #009203;
}
.event-sec .event-time-container {
	background-color: #961a72;
}
.svg-event-container {
	display: block;
	height: 62px;
	width: 54px;
	background-image: url(../imgs/event.svg);
	margin: auto;
}
.event-time {
	display: block;
	margin: 20px auto;
	width: 44px;
	text-align: center;
	color: white;
	font-weight: normal;
}
.event-desc {
	height: 100%;
	margin-left: 95px;
	padding: 60px 0px 60px 20px;
	border-radius: 0 5px 5px 0;
}
.event-desc h4 {
	font-size: 18px;
	font-weight: 700;
}
.event-desc h4 a {
	text-decoration: none;
	color: black;
}
.event-desc a {
	margin-bottom: 10px;
	display: inline-block;
	padding-left: 3px;
	font-weight: 400;
	text-decoration: none;
	color: black;
}
/* ========Events section========= ---Calendar--- */
#calendar {
	width: 350px;
	height: 346px;
	font-family: 'Poppins', sans-serif;
	color: black;
}
.ui-datepicker-header {
	background-color: #154581;
	height: 50px;
	padding: 5px 13px;
	border-radius: 6px 6px 0 0;
}
.ui-datepicker-header > a:hover {
	background-color: #d9dee3;
	border-radius: 20px;
}
.ui-datepicker-prev:hover span {
	background-image: url(../imgs/arrow-blue.svg) !important;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	background-position: 15px 8px !important;
}
.ui-datepicker-next:hover span {
	background-image: url(../imgs/arrow-blue.svg) !important;
	background-repeat: no-repeat;
	background-position: 15px 8px !important;
}
.ui-datepicker-title {
	color: white;
	/* font-family: 'Poppins', sans-serif; */
	font-weight: bold;
	font-size: 20px;
	width: 166px;
	margin: 11px auto;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	color: transparent;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.ui-datepicker-prev {
	float: left;
}
.ui-datepicker-next {
	float: right;
}
.ui-datepicker-prev span {
	background-image: url(../imgs/arrow.svg) !important;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	background-position: 15px 8px !important;
}

.ui-datepicker-next span {
	background-image: url(../imgs/arrow.svg) !important;
	background-repeat: no-repeat;
	background-position: 15px 8px !important;
}
.ui-datepicker-calendar {
	width: 100%;
}
.ui-datepicker-calendar thead {
	background-color: #d9dee3;
}
.ui-datepicker-calendar thead th,
.ui-datepicker-calendar tbody td {
	padding: 12px;
	width: 50px;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}
.ui-datepicker-calendar tbody {
	background-color: #f2f2f2;
}
.ui-datepicker-calendar tbody a {
	text-decoration: none;
	color: black;
}
.ui-datepicker-today {
	background-color: #d9dee3;
}
.ui-datepicker-calendar tbody td:hover {
	/* box-shadow: 0 0 3px 3px #154581; */
	box-shadow: 0 0 3px 3px rgb(21, 69, 129, 0.4);
}
.ui-state-disabled {
	opacity: 0.4;
}
/* ========"Convocatrias" section======== ----begin---- */
.calls-container {
	display: grid;
	grid-column-gap: 20px;
	row-gap: 20px;
	grid-template-columns: 6fr 6fr;
	font-family: 'Poppins', sans-serif;
}
.call {
	font-size: 18px;
	line-height: 22px;
	border: 1px solid #d9dee3;
	border-radius: 6px;
	overflow: hidden;
}
.call:hover h4 {
	background-color: #154581;
}
.call:hover h4 a {
	color: #ffffff;
	text-decoration: underline;
}
.call h4,
.call-desc {
	padding: 20px;
}
.call-desc {
	background-color: #d9dee3;
}
.call h4 {
	font-weight: 700;
}
.call h4 a {
	text-decoration: none;
	color: black;
}
.call-desc p {
	width: 412px;
	font-weight: 400;
	display: inline-block;
}
.call-closed-status {
	color: #cc0000;
}
.call-opened-status {
	color: #007500;
}
.call-opened-status,
.call-closed-status {
	display: inline-block;
	font-weight: 500;
	padding: 5px;
}
.call-opened-status img,
.call-opened-status span,
.call-closed-status img,
.call-closed-status span {
	display: block;
	text-transform: uppercase;
}
.call-opened-status img,
.call-closed-status img {
	margin: auto;
}
.call-opened-status span,
.call-closed-status span {
	font-size: 16px;
	margin-top: 12px;
}
/* "Organismos automnos" Section */
.organisms-container {
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: repeat(5, 2fr);
	font-family: 'Poppins', sans-serif;
	margin: 0 35px;
}
.organism {
	text-align: center;
	border: 1px solid #d9dee3;
	border-radius: 6px;
	overflow: hidden;
}
.organism:hover .org-icon {
	background-image: url(../imgs/Icon-feather-external-link-blue.svg);
}
.organism:hover .org-icon span {
	text-decoration: underline;
}
.organism:hover .organism-desc {
	text-decoration: underline;
}
.organism:hover .org-icon-container {
	border: 1px solid #154581;
	background-color: #ffffff;
}
.organism-desc {
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	color: white;
}
.organism p {
	background-color: #154581;
	padding: 39px 11px 8.45px 8px;
	position: relative;
}
.organism .org-icon-container {
	position: absolute;
	top: -20px;
	left: 38%;
	background-color: #154581;
	padding: 10px;
	border-radius: 20px;
}
.organism .org-icon-container span {
	width: 20px;
	height: 20px;
	display: block;
	background-image: url(../imgs/Icon-feather-external-link-white.svg);
}
.organism a {
	text-decoration: none;
}
.organism > img {
	display: inline-block;
	margin: auto;
	padding: 15px 0 35px 0;
}
/* =======Footer style========== */
.footer-carousel {
	background-color: #d9dee3;
	padding: 20px 0;
}
.footer-carousel .slider {
	overflow: hidden;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #d9dee3;
	border-radius: 6px;
	opacity: 1;
}

.footer-carousel .owl-nav {
	margin: 0 20px;
}
.footer-carousel .owl-prev {
	position: absolute;
	top: 80px;
	width: 52px;
	border-radius: 30px;
	background-color: #154581AC !important;
	height: 52px;
	border: 1px solid white !important;
	box-shadow: 0 3px #00000029;
	opacity: 1;
}
.footer-carousel .owl-next svg {
	margin: 5px 0 0 5px;
}
.footer-carousel .owl-prev svg {
	transform: rotate(180deg);
	margin: 0 5px 5px 0;
}
.footer-carousel .owl-next {
	float: right;
	position: absolute;
	right: 25px;
	bottom: 76px;
	width: 52px;
	border-radius: 30px;
	background-color: #154581AC !important;
	height: 52px;
	border: 1px solid white !important;
	box-shadow: 0 3px #00000029;
	opacity: 1;
}
.footer-carousel .owl-dots {
	position: absolute;
}
.footer-carousel.owl-carousel .owl-prev.disabled,
.footer-carousel.owl-carousel .owl-next.disabled {
	pointer-events: none;
	opacity: 0.3;
}
.footer-infos {
	font-family: 'Poppins', sans-serif;
	background-color: #154581;
	padding: 0 30px 30px 30px;
	color: #ffffff;
	overflow: hidden;
}
.footer-logo {
	float: left;
	margin-top: 15px;
}
.footer-logo > span {
	font-weight: 300;
}
.social-medias li {
	display: inline-block;
}
.more-infos {
	overflow: hidden;
	padding-top: 15px;
}
.more-infos li {
	float: right;
	padding: 0 20px;
}
.more-infos li:hover a {
	text-decoration: underline;
}
.more-infos > li > a {
	text-decoration: none;
	font-weight: 400;
	line-height: 22px;
	color: #ffffff;
}
.more-infos li:first-child {
	padding-right: 0;
}
.more-infos li:last-child {
	padding-left: 0;
}
.social-medias {
	overflow: hidden;
}
.social-medias li {
	float: right;
	margin: 10px;
}
.social-medias li a {
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
}
.social-medias li:hover a {
	color: #ffce00;
}
.social-medias .linkedin {
	width: 20px;
	height: 19px;
	/* background: url(../imgs/social_media.svg) 0 0; */
	margin-right: 0;
}
.social-medias .facebook {
	width: 20px;
	height: 19px;
	/* background: url(../imgs/social_media.svg) -103px 0; */
}
.social-medias .youtube {
	width: 20px;
	height: 19px;
	/* background: url(../imgs/social_media.svg) -34px 0; */
}
.social-medias .instagram {
	width: 20px;
	height: 19px;
	/* background: url(../imgs/social_media.svg) -69px 0; */
}
.social-medias .twitter {
	width: 20px;
	height: 19px;
	/* background: url(../imgs/social_media.svg) -137px 0; */
}
.additional-informations {
	overflow: hidden;
	border-top: 1px solid #ffffff;
}
