@import "./components/variables";

header {
  background-color: $blue;
  color: white;
  .cnt_right {
    .cnt_top,
    .cnt_bottom {
      display: block;
      position: relative;
      width: 100%;
    }
    .cnt_bottom {
      height: 45px;
      .navbar {
        background-color: transparent !important;
        height: 100%;
        padding: 0px;
        .navbar-nav {
          .nav-item {
            width: 200px;
          }
          .nav-link {
            color: white;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            padding: 8px 13px;
            &:hover {
              font-weight: 600;
            }
          }
          .active {
            color: $yellow;
            font-weight: 700;
          }
        }
      }
    }
    .cnt_top {
      border-bottom: 1px solid white;
      height: 65px;
      .search {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
          color: white;
          margin-right: 20px;
          text-decoration: none;
          &:last-child {
            margin-right: 0px;
          }
          &:hover {
            text-shadow: none;
          }
        }
        .active {
          color: $yellow;
        }
        .btn-sedelec {
          background-color: $yellow;
          border: 1px solid $blue;
          border-radius: 6px;
          color: $blue;
          font-size: 16px;
          font-weight: 400;
          height: 27px;
          line-height: 19px;
          padding: 6px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 158.5px;
          &:hover {
            border: 1px solid $yellow;
            background-color: $blue;
            color: $yellow;
            font-weight: 700;
          }
          &:focus {
            border: 1px solid $yellow;
            background-color: $dark_blue;
            color: $yellow;
            font-weight: 700;
          }
        }
      }
    }
  }
  .cnt_left {
    padding-top: 10px;
    .logo1 {
      img {
        max-height: 62px;
      }
    }
    .logo2 {
      img {
        max-height: 62px;
      }
    }
  }
}

.search_box {
  background-color: $white_submenu;
  color: black;
  display: none;
  height: calc(100vh - 158px);
  position: absolute;
  top: 158px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  .escudo_esp {
    background: url("../images/escudo_es.svg") no-repeat;
    background-position: center;
    background-size: 124px 132px;
    height: 132px;
    width: 124px;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
  }
  .cnt_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .search-text {
      font-size: 29px;
      line-height: 33px;
      font-weight: 300;
      text-transform: uppercase;
    }
    .input-group {
      margin-left: 23px;
      margin-bottom: 0px !important;
      width: 50%;
      .form-control {
        border-color: $blue;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 45px;
      }
      .input-group-text {
        background-color: $blue;
        border-color: $blue;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        color: white;
        width: 69px;
        justify-content: center;
        font-size: 1.4em;
      }
    }
  }
}

.language_box {
  background-color: $white_submenu;
  color: black;
  display: none;
  height: calc(70vh - 158px);
  position: absolute;
  top: 158px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  .cnt_izq {
    border-right: 2px solid $blue;
    padding: 20px;
    .tit_lng {
      color: $blue;
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    figure {
      img {
        max-height: 170px;
      }
    }
  }
  .cnt_der {
    padding: 20px 20px 20px 50px;
    .nav {
      li {
        margin-bottom: 12px;
        a {
          color: black;
          font-size: 24px;
          text-decoration: none;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .container-fluid.px-30 {
      padding: 0px;
    }
    .cnt_left {
      width: 72%;
      padding: 0;
      display: flex;
      align-items: center;
      .logo {
        width: 100%;
      }
      .logo1,
      .logo2 {
        img {
          max-height: 50px;
        }
      }
    }
    .cnt_right {
      width: 28%;
      padding: 0;
      display: flex;
      align-items: center;
      position: initial;
      .cnt_top {
        border-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .search {
          display: inline-block;
          height: auto;
          margin-right: 20px;
          .btn-sedelec,
          .language {
            display: none;
          }
        }
        .navbar-toggler {
          border: none;
          display: inline-block;
          color: white;
          width: 30px;
          .line {
            width: 100%;
            border-radius: 50px;
            float: left;
            height: 3px;
            background-color: #fff;
            margin-bottom: 6px;
            width: 28px;
          }
        }
      }
      .cnt_bottom {
        width: 100px;
        position: initial;
        .navbar {
          .navbar-nav {
            .nav-link {
              color: black;
            }
            .active {
              color: $yellow;
            }
          }
          .navbar-collapse {
            background-color: $white_submenu !important;
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            height: 250px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  header {
    .cnt_left {
      .logo1,
      .logo2 {
        img {
          max-height: 47px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_right {
      .cnt_top {
        justify-content: flex-end;
        .navbar-toggler {
          width: 55px;
        }
      }
      .cnt_bottom {
        width: 0;
        .navbar {
          position: initial;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_left {
      width: 30%;
      .logo1,
      .logo2 {
        img {
          max-height: 47px;
        }
      }
    }
    .cnt_right {
      width: 70%;
      .cnt_bottom {
        .navbar {
          .navbar-nav {
            .nav-item {
              width: 137px !important;
            }
            .nav-link {
              font-size: 13px !important;
              padding: 6px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_right {
      width: 67%;
      .cnt_bottom {
        .navbar {
          .navbar-nav {
            .nav-item {
              width: 152px !important;
            }
            .nav-link {
              font-size: 14px !important;
              padding: 8px 8px !important;
            }
          }
        }
      }
    }
    .cnt_left {
      width: 33%;
    }
  }
}

@media screen and (min-width: 1400px) and (max-width: 1679px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_right {
      .cnt_bottom {
        .navbar {
          .navbar-nav {
            .nav-item {
              width: 174px !important;
            }
            .nav-link {
              font-size: 16px !important;
              padding: 8px 10px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
  }
}
