@import "./variables";

#presentation {
  padding: 60px 0px 30px;
  hr {
    border-color: $gray_border;
    border-width: 2px;
    margin: 25px auto;
  }
  h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 60px;
  }
  h4 {
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    line-height: 34px;
  }
  figure {
    margin-bottom: 16px;
    img {
      display: block;
      margin: 0 auto;
      max-height: 192px;
    }
  }
}

#news {
  .box_buttons {
    .btn_present {
      margin: 0px auto 40px;
    }
  }
}

.slider_home {
  margin-top: 110px;
  height: 689px;
  .swiper {
    .swiper-slide {
      background-repeat: none !important;
      background-position: center center !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: -moz-linear-gradient(
          top,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 43%,
          rgba(0, 0, 0, 0) 74%,
          rgba(0, 0, 0, 0) 83%,
          rgba(0, 0, 0, 0.9) 100%
        );
        background: -webkit-linear-gradient(
          top,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 43%,
          rgba(0, 0, 0, 0) 74%,
          rgba(0, 0, 0, 0) 83%,
          rgba(0, 0, 0, 0.9) 100%
        );
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 43%,
          rgba(0, 0, 0, 0) 74%,
          rgba(0, 0, 0, 0) 83%,
          rgba(0, 0, 0, 0.9) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 );
      }
    }
  }
  .item {
    p {
      color: white;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 1339px) { 
  #presentation {
    padding: 60px auto 100px;
    h1 {
      font-size: 38px;
      line-height: 42px;
    }
    h4 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 991px) {
  #presentation {
    padding: 60px 0px 0px;
    h1 {
      font-size: 28px !important;
      line-height: 42px !important;
      padding: 0px 20px; 
      margin-bottom: 30px;
    }
    figure {
      margin-bottom: 0px;
    }
    .box_title_home {
      display: flex !important;
      flex-direction: column-reverse !important;
    }
  }
}

@media screen and (max-width: 575px) {
  #presentation {
    padding: 40px 0px 0px;
    h1 {
      font-size: 25px !important;
      line-height: 30px !important;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1680px) {
  #presentation {
    h4 {
      font-size: 26px;
      line-height: 30px;
    }
  }
}
