<!DOCTYPE html>
<html lang={{ if .Site.IsMultiLingual }}{{.Language}}{{end}}>
  {{ partial "header-parts/head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ .Scratch.Set "breadcrumbClass" "space_breadcumb_top_page" }}
    {{ partial "includes/breadcrumb.html" . }}
    <section>
      <article id="schedule_of_month" class="schedule_of_month">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 d-flex align-content-center justify-content-center cnt_calendar">
                      <div id="color-calendar" class="color-calendar"></div>
                  </div>
                  <div class="col-lg-8 events">
                      <div class="row">
                        {{ $eventPages := where .Pages "Section" "eventos" }}
                        {{ range  first 4 $eventPages }}
                              <div class="col-sm-6 items">
                                  <a class="card card_calendar item_clickeable {{.Params.event_type}}" href="javascript:void(0);">
                                      <div class="row g-0 w-100 d-flex h-158">
                                          <div class="col-4 date_icon">
                                              <div class="icon">
                                                  <i class="far fa-calendar-check"></i>
                                              </div>
                                              <div class="time">
                                                {{ .Params.event_time | time.Format ":time_short" }}
                                              </div>
                                          </div>
                                          <div class="col-8 info box_text">
                                              <div class="card-body">
                                                  <p class="card-text">{{ .Params.event_desc_date | time.Format ":date_long" }}</p>
                                                  <h5 class="card-title">{{ .Params.event_cat }}</h5>
                                                  <p class="card-light">{{ .Params.event_desc_info }}</p>
                                              </div>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                      {{ end }}
                      </div>
                  </div>
                  <!-- MOBILE VERSION WITH SLIDER -->
                  <div class="row events_slider events_slider_schedule">
                    <div class="swiper" id="slider_eventCalendarShedule">
                      <div class="swiper-wrapper">
                        {{ range first 4 $eventPages }}
                          <div class="swiper-slide items">
                            <div class="card {{.Params.event_type}}">
                              <div class="col-4 date_icon">
                                  <div class="icon">
                                      <i class="far fa-calendar-check"></i>
                                  </div>
                                  <div class="time">
                                    {{ .Params.event_time | time.Format ":time_short" }}
                                  </div>
                              </div>
                              <div class="col-8 info box_text">
                                  <div class="card-body">
                                      <p class="card-text ct_schedule_list_date">{{ .Params.event_desc_date | time.Format ":date_long" }}</p>
                                      <h5 class="card-title ct_schedule_list_title">Secretario General de Universidades</h5>
                                      <p class="card-light ct_schedule_list_text">{{ .Params.event_desc_info }}</p>
                                  </div>
                              </div>
                            </div>
                          </div>
                        {{ end }}
                      </div>
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </article>
  </section>
  <section>
    {{ $paginator := .Paginator 4 }}
    <article id="section_sub_title" class="section_sub_title">
        <div class="container">
            <div class="row">
                <div class="col-12 subtitle d-flex align-content-center">
                    <i class="far fa-calendar-check"></i>
                    <h4>{{ i18n "Detalles de la agenda del ministerio" | upper }}</h4>
                </div>
            </div>
        </div>
    </article>
    <article id="schedule_of_month">
        <div class="container">
          {{ range (.Paginate (.Pages.ByParam "event_desc_date")).Pages }}
            <div class="row">
              <div class="col-lg-12 events show_in_mobile">
                <div class="row">
                    <div class="col-sm-12 items">
                        <a class="card card_calendar {{.Params.event_type}} without_bg_hover" href="javascript:void(0);">
                          <div class="row g-0 w-100 d-flex h-158">
                            <div class="col-4 col-lg-1 date_icon list_schedule_date_icon">
                              <div class="icon">
                                  <i class="far fa-calendar-check"></i>
                              </div>
                              <div class="time">
                                {{ .Params.event_time | time.Format ":time_short" }}
                              </div>
                            </div>
                            <div class="col-8 col-lg-11 info box_text list_schedule_box_text">
                              <div class="row row_inside_list_schedule">
                                  <div class="col-lg-9 card-body list_schedule_info">
                                      <p class="card-text list_schedule_date">{{ .Params.event_desc_date | time.Format ":date_long" }} - {{ .Params.event_desc_date | time.Format ":date_long" }}</p>
                                      <h5 class="card-title list_schedule_range">{{ .Params.event_cat }}</h5>
                                      <p class="card-light list_schedule_office">{{ .Params.event_desc_info }}</p>
                                      <p class="card-light list_schedule_description act_type"><b>Tipo acto:</b> Congreso/Senado</p>
                                  </div>
                                  <div class="col-lg-3 button_add_calendar list_schedule_button">
                                      <button type="button" class="btn btn-outline-primary btn_add_calendar"><i class="far fa-calendar-alt"></i> AÑADIR A TU CALENDARIO</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </a>
                    </div>
                </div>
              {{ end }}
                </div>
            </div>
        </div>
    </article>
</section>
    {{ partial "includes/pagination.html" (dict "paginator" $paginator) . }}
    {{ partial "home-page-sections/sponsors-sec.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>