<footer>
    <article>
        <div class="container-fluid p-45">
            <div class="row">
                <div class="col-lg-12 box_social_networks">
                    <ul>
                        <li>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-youtube-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-5 col-lg-5 box_logo">
                  <figure>
                    <img src="{{"./images/escudo_es.svg" | absURL}}" alt="Escudo" class="img-fluid">
                  </figure>
                    <p class="licencia">© 2022 Ministerio de Universidades</p>
                </div>
                <div class="col-7 col-lg-7 box_links">
                    <ul>
                        {{ range .Site.Menus.footer }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-12">
                  <p class="licencia_movil">© 2022 Ministerio de Universidades</p>
                </div>
            </div>
        </div>
    </article>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.min.js"></script>
<script src="{{ "js/header.js" | absURL }}"></script>
<script src="{{ "js/slider_home.js" | absURL }}"></script>
<script src="{{ "js/slider_brands.js" | absURL }}"></script>
<script src="{{ "js/calendar.js" | absURL }}"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    var lunrIndex,
    $results,
    pagesIndex;

    const indexPages = {{"js/lunr/PagesIndex.json" | absURL}}
    // Initialize lunrjs using our generated index file

    function initLunr() {
    // First retrieve the index file
    $.ajaxSetup({
        async: false
    });
    $.getJSON(indexPages)
        .done(function(index) {
            pagesIndex = index;
            console.log("index:", pagesIndex);
            // Set up lunrjs by declaring the fields we use
            // Also provide their boost level for the ranking
            // Feed lunr with each file and let lunr actually index them
            lunrIndex = lunr(function() {
                // ref is the result item identifier (I chose the page URL)
                this.ref("href");
                this.field("title");
                this.field("content");

                pagesIndex.forEach(function (page) {
                    this.add(page)
                }, this)
            });
        })
        .fail(function(jqxhr, textStatus, error) {
            var err = textStatus + ", " + error;
            console.error("Error getting Hugo index file:", err);
        });
    }
    /**
     * Trigger a search in lunr and transform the result
     *
     * @param  {String} query
     * @return {Array}  results
     */
    function search(query) {
        // Find the item in our index corresponding to the lunr one to have more info
        // Lunr result: 
        //  {ref: "/section/page1", score: 0.2725657778206127}
        // Our result:
        //  {title:"Page1", href:"/section/page1", ...}
        return lunrIndex.search(query).map(function(result) {
                return pagesIndex.filter(function(page) {
                    return page.href === result.ref;
                })[0];
            });
    }
    /**
     * Display the 10 first results
     *
     * @param  {Array} results to display
     */
    function renderResults(results) {
        if (!results.length) {
            return;
        }

        // Only show the ten first results
        results.slice(0, 10).forEach(function(result) {
            var $result = $("<li>");
            $result.append($("<a>", {
                href: getHref(result.href),
                text: "» " + result.title
            }));
            $results.append($result);
        });
    }
    function getHref(href) {
        var regex = /\//g;
        var current;
        var matchIndexes = [];

        while ((current = regex.exec(href)) != null)
        {
            matchIndexes.push(current.index);
        }

        return href.substr(matchIndexes[1])
    }
    /**
     * Display the 10 first results
     *
     * @param  {Array} results to display
     */
    function renderResults(results) {
        if (!results.length) {
            return;
        }

        // Only show the ten first results
        results.slice(0, 10).forEach(function(result) {
            var $result = $("<li>");
            $result.append($("<a>", {
                href: getHref(result.href),
                text: "» " + result.title
            }));
            $results.append($result);
        });
    }

    initLunr();
</script>